:root{
    --main-color: #EADEA9;
    --dark-color-a: #7F852A;
    --dark-color-b: #B3B872;
    --blue-color-main: #557ae0;
    --blue-color-b: #7297B8;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
}


/*NAV BAR*/
.navbar{
    background-color: var(--blue-color-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-h1{
    font-size: 32px;
    color: var(--main-color);
    font-weight: 400;
}

.lista{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lista li{
    display: inline;
    margin-right: 1rem;

}

.lista li a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 200;
    color: var(--main-color);
    transition: color 0.3s;
}

.lista li a:hover{
    color: var(--dark-color-b);
}

/*SECTION INICIO*/

.inicio{
    height: 900px;
    background-image: url(img/profile-pic.jpeg);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imagen{
    width: 45rem;
    padding: 5rem;
    padding-right: 5rem;
    border-radius: 100px;
}

.texto-inicio{
    font-size: 56px;
    color: var(--main-color);
}

.texto-inicio h1{
    color: var(--dark-color-b);
    transition: color 1s;
}

.texto-inicio h1:hover{
    color: var(--dark-color-a);
}

/*SECTION INFO*/

.info-cont{
    height: 900px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    height: 100vh;
}

.ancho-bio{
    width: 75%;
}

.ancho-bio h1{
    font-size: 48px;
}

.p-t{
    padding-top: 3rem;
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
    text-align: center;
}

.lista li img{
    width: 200px;
    height: 200px;
}

/*SECTION CONTACTO*/

.contacto{
    background-color: #fff;
}